<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/MyHomePage.css">
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/MyOption.css"/>
<!--    <link rel="stylesheet" href="css/MyOption.css">-->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <link rel="stylesheet" href="js/layui/css/layui.css" />
    <script src="js/layui/layui.js"></script>
    <meta charset="UTF-8">
    <title>MyHomePage</title>
</head>
<script>
    //cookie
    var userId = $.cookie('userId');
    if (userId === undefined) {
        location.href = "Index.html";
    }

    $(function () {
        //用户选择控制
        $(".j-uflag").mouseleave(function () {
            $(".j-uflag").css("display","none");
        });
        $(".login-button").mouseenter(function () {
            $(".j-uflag").css("display","block");
        });
        $(".login-button").mouseleave(function () {
            $(".j-uflag").css("display","none");
        });
        $(".j-uflag").mouseenter(function () {
            $(".j-uflag").css("display","block");
        });
        //获取用户基本信息
        $.ajax({
            // 通过首页用户名字获取用户ID，以此更新列表，暂且手动输入1进行模拟
            url: "/user/getUserInfo",
            type: "post",
            datatype: "json",
            data :{"userId" : parseInt(userId)},
            success: function (data) {
                $(".userName").text(data.userName);
                $(".userHead").attr("src",data.userHeadUrl);
                $(".userLocation").text(data.userLocation);
            }
        });
        //获取动态数量
        $.ajax({
            url: "/user/getEventCount",
            type: "post",
            datatype: "json",
            //未登陆，暂且手动输入数字模拟
            data: {"userId": parseInt(userId)},
            success: function (data) {
                $("#event_count").text(data.length);
            }
        });
        //获取关注数量
        $.ajax({
            url: "/user/getFollowCount",
            type: "post",
            datatype: "json",
            //未登陆，暂且手动输入数字模拟
            data: {"userId": parseInt(userId)},
            success: function (data) {
                $("#follow_count").text(data.length);
            }
        })
        //获取粉丝数量
        $.ajax({
            url: "/user/getFanCount",
            type: "post",
            datatype: "json",
            //未登陆，暂且手动输入数字模拟
            data: {"userId": parseInt(userId)},
            success: function (data) {
                $("#fan_count").text(data.length);
            }
        })
        //获取听歌数量

        $.ajax({
            url: "/user/getPlaySongCount",
            type: "post",
            datatype: "json",
            //未登陆，暂且手动输入数字模拟
            data: {"userId": parseInt(userId)},
            success: function (data) {
                var $a = parseFloat(data.length);
                $("#play_song_count").text($a+ "首");
            }
        })
      //  获取创建歌单数量
      //   $.ajax({
      //       url: "/user/getSongListCreateCount",
      //       type: "post",
      //       datatype: "json",
      //       //未登陆，暂且手动输入数字模拟
      //       data: {"userId": parseInt(userId)},
      //       success: function (data) {
      //           $("#song_list_create").text(data.length);
      //       }
      //   })
        //获取收藏歌单数量
        // $.ajax({
        //     url: "/user/getSongListLikedCount",
        //     type: "post",
        //     datatype: "json",
        //     //未登陆，暂且手动输入数字模拟
        //     data: {"userId": parseInt(userId)},
        //     success: function (data) {
        //         $("#song_list_liked").text(data.length);
        //     }
        // })
        //
        //展示听歌排行
        $.ajax({
            // 通过首页用户名字获取用户ID，以此更新列表，暂且手动输入1进行模拟
            url: "/user/getSongRanking",
            type: "post",
            datatype: "json",
            data: {"userId": parseInt(userId)},
            success: function (data) {
                if(data.length>0){
                    for (var i = 0; i < data.length; i++) {
                        vm.songRanking.push({
                            songName: data[i].song.songName,
                            singerName: data[i].singer.singerName,
                            playTimes: data[i].userSong.usPlayTimes,
                        });
                        $(".m-record").css("height", "+=48");
                    }
                }

                //显示歌曲列数
                // $(".number").text(vm.products.length);
            }
        });
        //展示我创建的歌单
        $.ajax({
            // 通过首页用户名字获取用户ID，以此更新列表，暂且手动输入1进行模拟
            url: "/user/getSongListCreate",
            type: "post",
            datatype: "json",
            data: {"userId": parseInt(userId)},
            success: function (data) {
                if(data.length>0){
                    $("#song_list_create").text(data.length);
                    for (var i = 0; i < data.length; i++) {
                        vm.songListCreate.push({
                            songListName: data[i].songList.songlistName,
                            songListPic: data[i].songList.songlistPicUrl
                        });
                        if(i%5==0)
                        $("#list-create").css("height", "+=195");
                        // $("#song_list_create").text(vm.songListCreate.length);
                    }
                }
                else if(data == null)
                    $("#song_list_create").val(0);
            }
        });
        //展示我收藏的歌单
        $.ajax({
            // 通过首页用户名字获取用户ID，以此更新列表，暂且手动输入1进行模拟
            url: "/user/getSongListLiked",
            type: "post",
            datatype: "json",
            data: {"userId": parseInt(userId)},
            success: function (data) {
                if(data == null)
                    $("#song_list_liked").text(0);
                else {
                    $("#song_list_liked").text(data.length);
                    for (var i = 0; i < data.length; i++) {
                        vm.songListLiked.push({
                            songListName: data[i].songList.songlistName,
                            songListPic: data[i].songList.songlistPicUrl
                        });
                        var num = i%4;
                        if (!(num > 0))
                        $(".list-liked").css("height", "+=195");
                        // $("#song_list_liked").text(vm.songListLiked.length);
                    }
                }
            }
        });
        $("#editor").click(function () {
            location.href = "MySetting.html";
        })

        //登出
        // $(".logout").click(function () {
        //     $.ajax({
        //         url: "/user/logout",
        //         type: "post",
        //         datatype: "json",
        //         data: {"userId": parseInt(userId)},
        //         success: function (data) {
        //             if(data>1){
        //                 location.href = "Index.html";
        //                 layui.use('layer', function(){
        //                     var layer = layui.layer;
        //                     layer.msg("登出成功~",{
        //                         area:['400px', '50px']
        //                     });
        //                 });
        //             }
        //         }
        //     })
        // })
//$(function)结尾
    });
</script>
<body>
<header>
    <div id="head-title">
        <div id="head-title-container">
            <h2 class="logo"><a hidefocus="true" href="/#">土嗨音乐网</a></h2>
            <ul class="head-ul">
                <li>
              <span>
                <a href="#">
                  <em>发现音乐</em>
                  <sub class="cor">&nbsp;</sub>
                </a>
              </span>
                </li>
                <li>
              <span>
                <a href="#">
                  <em>我的音乐</em>
                  <sub class="cor">&nbsp;</sub>
                </a>
              </span>
                </li>
                <li>
              <span>
                <a href="#">
                  <em>朋友</em>
                  <sub class="cor">&nbsp;</sub>
                </a>
              </span>
                </li>
                <li>
              <span>
                <a href="#">
                  <em>商城</em>
                  <sub class="cor">&nbsp;</sub>
                </a>
              </span>
                </li>
                <li>
              <span>
                <a href="#">
                  <em>音乐人</em>
                  <sub class="cor">&nbsp;</sub>
                </a>
              </span>
                </li>
                <li>
              <span>
                <a href="#">
                  <em>下载客户端</em>
                  <sub class="cor">&nbsp;</sub>
                </a>
              </span>
                </li>
            </ul>
            <div class="login-button">
            <span>
              <a href="#" id="login">登录</a>
              <div class="sanjiao_down"></div>
            </span>
            </div>
            <a class="creator-center">创作者中心</a>
            <div class="search-box">
                <div class="srchbg">
              <span class="parent">
                <input
                        type="text"
                        name="srch"
                        id="srch"
                        class="txt j-flag"
                        value=""
                        style="opacity: 1;"
                        placeholder="音乐/视频/电台/用户"
                />
              </span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="m-tlist m-tlist-lged j-uflag MyOption" style="margin: 10px 170px 0 0;display: none;">
    <ul class="f-cb lb mg">
        <li><a hidefocus="true" class="itm-1" href="MyHomePage.html"><i class="icn icn-hm"></i><em id="homePage">我的主页</em></a>
        </li>
        <li><a href="MyMessage.html" class="itm-2"><i class="icn icn-msg"></i><em>我的消息</em><span
                class="m-topmsg f-pa j-uflag">9</span></a></li>
        <li><a href="MyVIP.html" class="itm-2" ><i
                class="icn icn-mbr"></i><em>VIP会员</em></a></li>
    </ul>
    <ul class="f-cb ltb mg">
        <li><a hidefocus="true" class="itm-2" href="MySetting.html"><i class="icn icn-st"></i><em>个人设置</em></a></li>
        <li><a hidefocus="true" class="itm-2" href="MyAuthentication.html" target="_blank"><i
                class="icn icn-verify"></i><em>实名认证</em></a></li>
    </ul>
    <ul class="f-cb lt">
        <li><a hidefocus="true" class="itm-3 logout" href="#" data-action="logout"><i class="icn icn-ex"></i><em>退出</em></a>
        </li>
    </ul>
    <i class="arr"></i></div>

<div class="main">
    <div class="content">
        <dl class="m-proifo">
            <dt class="f-pr" id="ava">
                <img width="180px" height="180px" class="userHead"
                     src="">

            </dt>
            <dd>
                <div class="name f-cb">
                    <div class="f-cb">
                        <div class="edit">
                            <a href="MySetting.html"  class="u-btn2 u-btn2-1">
                                <input type="button" id="editor" value="编辑个人资料"></a>

                        </div>
                        <div class="rect" id="newmusician"></div>
                        <h2 id="j-name-wrap" class="wrap f-fl f-cb ">
                            <span class="tit f-ff2 s-fc0 userName" style="font-size: x-large;width:200px"></span>
                            <span id="j-vip-code"></span>
                            <i class="icn u-icn u-icn-01"></i>
                        </h2>
                    </div>
                </div>
                <ul class="data s-fc3 f-cb" id="tab-box">
                    <li class="fst"><a href="#"><strong id="event_count">0</strong><span>动态</span></a>
                    </li>
                    <li><a href="#"><strong id="follow_count">0</strong><span>关注</span></a></li>
                    <li>
                        <a href="#">
                            <strong id="fan_count">0</strong>
                            <span>粉丝</span>
                            <i class="u-icn u-icn-68 f-alpha" id="newCount" style="display:none;"></i>
                        </a></li>
                </ul>
                <div class="inf s-fc3" style="margin-top: 100px">
                    <span >所在地区：<span class="userLocation">山东省 - 青岛市</span></span>
                </div>
                <!--                <div class="inf s-fc3 f-cb">-->
                <!--                    <span class="tit">社交网络：</span>-->
                <!--                    <ul class="u-logo u-logo-s f-cb">-->
                <!--                        <li><i class="u-slg u-slg-sn-gray" title="新浪微博"></i></li>-->
                <!--                        <li><i class="u-slg u-slg-db-gray" title="豆瓣网"></i></li>-->
                <!--                    </ul>-->
                <!--                </div>-->
            </dd>
        </dl>
        <div class="ranking u-title u-title-1 f-cb m-record-title">
            <!--            <div class="u-title u-title-1 f-cb m-record-title" id="rHeader">-->
            <h3><span class="f-ff2 s-fc3">听歌排行</span></h3>
            <h4>累积听歌<h4 id="play_song_count">XX首</h4></h4>
            <span class="n-iconpoint">
                <a href="javascript:void(0)" class="icon u-icn2 u-icn2-5 j-flag"></a>
                <!--                    <div class="tip">&lt;!&ndash; icon在hover的时候显示tip &ndash;&gt;-->
                <!--                        <p>实际播放时间过短的歌曲将不纳入计算。</p>-->
                <!--                            <i class="t"></i><i class="b"></i>-->
                <!--                    </div>-->
            </span>
            <div class="nav f-cb">



            </div>
            <!--            </div>-->
        </div>
        <div class="m-record" >
            <ul >
                <li id="52330491567902403710" v-for="song in songRanking">
                    <div class="hd "><span class="ply ">&nbsp;</span><span class="num">1.</span></div>
                    <div class="song">
                        <div class="tt">
                            <div class="ttc"><span class="txt"><a href="#"><b
                                    :title="song.songName">{{song.songName}}</b></a>
                                <span class="ar s-fc8">
                                    <em>-</em>
                                <span :title="song.singerName">
                                <a class="s-fc8" href="#" hidefocus="true">{{song.singerName}}</a>
                            </span>
                            </span>
                            </span>
                            </div>
                        </div>
                        <div class="opt">
                            <a class="u-icn u-icn-81 icn-add" href="#" title="添加到播放列表" hidefocus="true"></a>
                            <span data-res-action="subscribe" class="icn icn-fav" title="收藏"></span>
                            <span data-res-action="share" data-res-name="Can't Take My Eyes Off You"
                                  data-res-author="王若琳" class="icn icn-share"
                                  title="分享">分享</span>
                            <span data-res-action="download" class="icn icn-dl" title="下载">下载</span>
                        </div>
                    </div>
                    <div class="tops"><span class="bg" style="width:100%;"></span><span class="times f-ff2">{{song.playTimes}}次</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="h-myList">
            <div class="u-title u-title-1 f-cb" id="cHeader" style="">
                <h3><span class="f-ff2 f-pr ">我创建的歌单（<span class="f-pa f-r-black-icon" id="song_list_create"
                                                         style="display:inline-block;width:8px;height:8px;top:1px;background-size:cover;"></span></span>
                </h3>
            </div>
        </div>
        <ul class="myList m-cvrlst f-cb" id="list-create" style="width:950px;height:195px">

            <li id="auto-id-mAWJbXHGwJhdD4LN" v-for="listCreate in songListCreate">
                <div class="u-cover u-cover-1"><img
                        :src="listCreate.songListPic"><a
                        href="#" class="msk" :title="listCreate.songListName"></a>
                    <div class="bottom"><a class="icon-play f-fr" title="播放"
                                           data-res-action="play" data-res-type="13"
                    ></a><p style="font-size: small;margin:5px;width:100px;overflow:hidden;">{{listCreate.songListName}}</p>
<!--                        <span class="nb">{{listCreate.playTimes}}</span>-->
                    </div>
                </div>
                <p class="dec"><a class="tit f-thide s-fc0" href="#"
                                  :title="listCreate.songListName">{{listCreate.songListName}}</a></p></li>
        </ul>
        <div class="h-list-liked">
            <div class="u-title u-title-1 f-cb" id="sHeader" style="">
                <h3><span class="f-ff2 f-pr">我收藏的歌单（<span class="f-pa f-r-black-icon" id="song_list_liked"
                                                         style="display:inline-block;width:8px;height:8px;background-size:cover;top:1px;"></span></span>
                </h3>
            </div>
        </div>
        <ul class="list-liked m-cvrlst f-cb" id="list-liked" style="width:950px;height:195px">

            <li v-for="listLiked in songListLiked">
                <div class="u-cover u-cover-1">
                    <img :src="listLiked.songListPic">
                    <a
                            href="#" class="msk" :title="listLiked.songListName"></a>
                    <div class="bottom"><a class="icon-play f-fr" title="播放"
                                           data-res-action="play" data-res-type="13"
                    ></a><p style="font-size: small;margin-top:5px">{{listLiked.songListName}}</p>
<!--                        <span class="icon-headset"></span>-->
<!--                        <span class="nb">{{listLiked.playTimes}}</span>-->
                    </div>
                </div>
                <p class="dec"><a class="tit f-thide s-fc0" href="#"
                                  :title="listLiked.songListName">{{listLiked.songListName}}</a></p></li>
        </ul>
    </div>
</div>
</body>
<script>
    var vm = new Vue({
        el:".content",
        data: {
            songRanking: [],
            songListCreate:[],
            songListLiked:[]
        },
        methods:{

        }
    });
</script>
</html>