<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.mapper.ShareCommentMapper" >
  <resultMap id="ShareCommentResultMap" type="org.lanqiao.entity.ShareComment" >
    <id column="sc_id" property="scId" jdbcType="INTEGER" />
    <result column="share_id" property="shareId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="sc_text" property="scText" jdbcType="VARCHAR" />
    <result column="sc_likes" property="scLikes" jdbcType="INTEGER" />
    <result column="sc_to_id" property="scToId" jdbcType="INTEGER" />
    <result column="sc_time" property="scTime" jdbcType="TIMESTAMP" />

    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_head_url" property="userHeadUrl" jdbcType="VARCHAR" />


  </resultMap>

  <select id="selectByShareId" parameterType="java.lang.Integer" resultMap="ShareCommentResultMap">
    select s.sc_id, s.sc_likes,s.sc_text,s.sc_time,s.sc_to_id,u.user_name,u.user_head_url from
    sharecomment s, users u where s.user_id = u.user_id and s.share_id = #{share_id} order by s.sc_time desc
  </select>


  <sql id="Base_Column_List" >
    sc_id, share_id, user_id, sc_text, sc_likes, sc_to_id, sc_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="ShareCommentResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sharecomment
    where sc_id = #{scId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sharecomment
    where sc_id = #{scId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.lanqiao.entity.ShareComment" >
    insert into sharecomment (sc_id, share_id, user_id, 
      sc_text, sc_likes, sc_to_id, 
      sc_time)
    values (#{scId,jdbcType=INTEGER}, #{shareId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{scText,jdbcType=VARCHAR}, #{scLikes,jdbcType=INTEGER}, #{scToId,jdbcType=INTEGER}, 
      #{scTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.lanqiao.entity.ShareComment" >
    insert into sharecomment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scId != null" >
        sc_id,
      </if>
      <if test="shareId != null" >
        share_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="scText != null" >
        sc_text,
      </if>
      <if test="scLikes != null" >
        sc_likes,
      </if>
      <if test="scToId != null" >
        sc_to_id,
      </if>
      <if test="scTime != null" >
        sc_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scId != null" >
        #{scId,jdbcType=INTEGER},
      </if>
      <if test="shareId != null" >
        #{shareId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="scText != null" >
        #{scText,jdbcType=VARCHAR},
      </if>
      <if test="scLikes != null" >
        #{scLikes,jdbcType=INTEGER},
      </if>
      <if test="scToId != null" >
        #{scToId,jdbcType=INTEGER},
      </if>
      <if test="scTime != null" >
        #{scTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lanqiao.entity.ShareComment" >
    update sharecomment
    <set >
      <if test="shareId != null" >
        share_id = #{shareId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="scText != null" >
        sc_text = #{scText,jdbcType=VARCHAR},
      </if>
      <if test="scLikes != null" >
        sc_likes = #{scLikes,jdbcType=INTEGER},
      </if>
      <if test="scToId != null" >
        sc_to_id = #{scToId,jdbcType=INTEGER},
      </if>
      <if test="scTime != null" >
        sc_time = #{scTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sc_id = #{scId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lanqiao.entity.ShareComment" >
    update sharecomment
    set share_id = #{shareId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      sc_text = #{scText,jdbcType=VARCHAR},
      sc_likes = #{scLikes,jdbcType=INTEGER},
      sc_to_id = #{scToId,jdbcType=INTEGER},
      sc_time = #{scTime,jdbcType=TIMESTAMP}
    where sc_id = #{scId,jdbcType=INTEGER}
  </update>
</mapper>