<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.mapper.ShowCommentMapper" >
  <resultMap id="BaseResultMap" type="org.lanqiao.entity.ShowComment" >
    <id column="showc_id" property="showcId" jdbcType="INTEGER" />
    <result column="show_id" property="showId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="showc_text" property="showcText" jdbcType="VARCHAR" />
    <result column="showc_likes" property="showcLikes" jdbcType="INTEGER" />
    <result column="showc_to_id" property="showcToId" jdbcType="INTEGER" />
    <result column="showc_time" property="showcTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    showc_id, show_id, user_id, showc_text, showc_likes, showc_to_id, showc_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    *
    from showcomment
    where showc_id = #{showcId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from showcomment
    where showc_id = #{showcId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.lanqiao.entity.ShowComment" >
    insert into showcomment (showc_id, show_id, user_id, 
      showc_text, showc_likes, showc_to_id, 
      showc_time)
    values (#{showcId,jdbcType=INTEGER}, #{showId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{showcText,jdbcType=VARCHAR}, #{showcLikes,jdbcType=INTEGER}, #{showcToId,jdbcType=INTEGER}, 
      #{showcTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.lanqiao.entity.ShowComment" >
    insert into showcomment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="showcId != null" >
        showc_id,
      </if>
      <if test="showId != null" >
        show_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="showcText != null" >
        showc_text,
      </if>
      <if test="showcLikes != null" >
        showc_likes,
      </if>
      <if test="showcToId != null" >
        showc_to_id,
      </if>
      <if test="showcTime != null" >
        showc_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="showcId != null" >
        #{showcId,jdbcType=INTEGER},
      </if>
      <if test="showId != null" >
        #{showId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="showcText != null" >
        #{showcText,jdbcType=VARCHAR},
      </if>
      <if test="showcLikes != null" >
        #{showcLikes,jdbcType=INTEGER},
      </if>
      <if test="showcToId != null" >
        #{showcToId,jdbcType=INTEGER},
      </if>
      <if test="showcTime != null" >
        #{showcTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lanqiao.entity.ShowComment" >
    update showcomment
    <set >
      <if test="showId != null" >
        show_id = #{showId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="showcText != null" >
        showc_text = #{showcText,jdbcType=VARCHAR},
      </if>
      <if test="showcLikes != null" >
        showc_likes = #{showcLikes,jdbcType=INTEGER},
      </if>
      <if test="showcToId != null" >
        showc_to_id = #{showcToId,jdbcType=INTEGER},
      </if>
      <if test="showcTime != null" >
        showc_time = #{showcTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where showc_id = #{showcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lanqiao.entity.ShowComment" >
    update showcomment
    set show_id = #{showId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      showc_text = #{showcText,jdbcType=VARCHAR},
      showc_likes = #{showcLikes,jdbcType=INTEGER},
      showc_to_id = #{showcToId,jdbcType=INTEGER},
      showc_time = #{showcTime,jdbcType=TIMESTAMP}
    where showc_id = #{showcId,jdbcType=INTEGER}
  </update>
</mapper>