<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.mapper.UserSongListMapper" >
  <resultMap id="BaseResultMap" type="org.lanqiao.entity.UserSongList" >
    <id column="usl_id" property="uslId" jdbcType="INTEGER" />
    <result column="songlist_id" property="songlistId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="us_relation" property="usRelation" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    usl_id, songlist_id, user_id, us_relation
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from usersonglist
    where usl_id = #{uslId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from usersonglist
    where usl_id = #{uslId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.lanqiao.entity.UserSongList" >
    insert into usersonglist (usl_id, songlist_id, user_id, 
      us_relation)
    values (#{uslId,jdbcType=INTEGER}, #{songlistId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{usRelation,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.lanqiao.entity.UserSongList" >
    insert into usersonglist
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uslId != null" >
        usl_id,
      </if>
      <if test="songlistId != null" >
        songlist_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="usRelation != null" >
        us_relation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uslId != null" >
        #{uslId,jdbcType=INTEGER},
      </if>
      <if test="songlistId != null" >
        #{songlistId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="usRelation != null" >
        #{usRelation,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lanqiao.entity.UserSongList" >
    update usersonglist
    <set >
      <if test="songlistId != null" >
        songlist_id = #{songlistId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="usRelation != null" >
        us_relation = #{usRelation,jdbcType=INTEGER},
      </if>
    </set>
    where usl_id = #{uslId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lanqiao.entity.UserSongList" >
    update usersonglist
    set songlist_id = #{songlistId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      us_relation = #{usRelation,jdbcType=INTEGER}
    where usl_id = #{uslId,jdbcType=INTEGER}
  </update>
</mapper>