body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
header,
menu,
section,
p,
input,
td,
th,
ins {
  padding: 0;
  margin: 0;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.tit {
  float: left;
  width: 116px;
  margin: 6px 0 0 10px;
}

body,
#mid {
  margin: 0px;
  background: #f5f5f5;
}
#mid {
  display: table;
  margin: 0 auto;
  min-width: 984px;
}

a {
  text-decoration: none;
}

/*header*/

header {
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  zoom: 1;
}

.logo {
  float: left;
  width: 176px;
  height: 70px;
  background-position: 0 0;
  background-color: inherit;
  line-height: 35px;
}

header #head-title #head-title-container .logo a {
  float: left;
  width: 157px;
  height: 100%;
  padding-right: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  -webkit-text-emphasis-style: double-circle;
}

#head-title {
  position: relative;
  z-index: 1000;
  height: 70px;
  box-sizing: border-box;
  background: #242424;
  border-bottom: 1px solid #000;
}

#head-title-container {
  width: 1100px;
  margin: 0 auto;
}

#head-nav {
  z-index: 90;
  height: 35px;
  box-sizing: border-box;
  background-color: #ffd700;
  border-bottom: 1px solid #a40011;
}

.head-ul,
.head-ul li,
.head-ul li span,
.head-ul li span a {
  float: left;
  height: 70px;
  font-size: 14px;
  line-height: 70px;
  list-style: none;
}

.head-ul a {
  padding: 0px 19px;
}

.head-ul a:hover,
.head-ul a:hover em {
  background: #000;
  text-decoration: none;
  color: #fff;
}

.head-ul a em {
  font-style: normal;
  font-size: 14px;
  color: #cccccc;
}

/*导航栏下小三角标有点麻烦*/
.cor {
  display: block;
  position: absolute;
  left: 50%;
  top: 64px;
  width: 12px;
  height: 7px;
  margin-left: -6px;
  overflow: hidden;
  background-position: -226px 0;
}

.login-button,
.login-button span {
  height: 70px;
  color: #787878;
  font-size: 12px;
}

.login-button {
  float: right;
  height: 45px;
  margin: 14px 0 0 25px;
  padding: 0 22px 0 0;
  background-position: right -47px;
}

.login-button:hover span a,
.login-button:hover span .sanjiao_down {
  color: #999;
  border-color: #999 transparent transparent transparent;
}

.login-button span a {
  display: block;
  width: 28px;
  margin-top: 7px;
  color: #787878;
}

.sanjiao_down {
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 8px 5.5px;
  line-height: 0;
  border-width: 6px;
  border-style: solid dashed dashed dashed;
  border-color: #787878 transparent transparent transparent;
}

.creator-center {
  float: right;
  width: 90px;
  height: 32px;
  margin: 19px 0 0 12px;
  box-sizing: border-box;
  padding-left: 16px;
  border: 1px solid #4f4f4f;
  background-position: 0 -140px;
  line-height: 33px;
  color: #ccc;
  border-radius: 20px;
  font-size: 12px;
}

.creator-center:hover {
  color: #fff;
  border-color: #fff;
}

.search-box {
  float: right;
  margin-top: 19px;
}

.srchbg {
  background-color: #fff;
  border-radius: 32px;
  float: right;
  width: 158px;
  height: 32px;
}

.parent {
  display: block;
  position: relative;
  margin: 8px 0 0 30px;
  font-size: 12px;
  color: #333;
}
.parent input {
  width: 90%;
  margin: 0;
  padding: 0;
  background: transparent;
  color: #333;
  line-height: 16px;
  border: none;
  outline: none;
}

.parent input::placeholder {
  font-size: 12px;
}

.parent label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  color: #9b9b9b;
  cursor: text;
}

/*菜单下的导航（子菜单）*/
#head-nav-contain {
  width: 1100px;
  height: 34px;
  margin: 0 auto;
}

#head-nav-contain ul {
  float: left;
  padding-left: 180px;
}
#head-nav-contain ul li,
#head-nav-contain ul li a {
  list-style: none;
  float: left;
  height: 34px;
  text-align: center;
}

#head-nav-contain ul li a em {
  display: inline-block;
  height: 20px;
  padding: 0 13px;
  margin: 7px 17px 0;
  border-radius: 20px;
  line-height: 21px;
  color: gray;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}

#head-nav-contain ul li a em:hover {
  background: rgb(238, 107, 0);
  color: white;
}

#roll-screen {
  margin: 0 auto;
  float: left;
}

#download-i {
  width: 254px;
  height: 306px;
  background: #242424;
  float: left;
  overflow: hidden;
  padding-top: 30px;
}

#download-i span {
  text-align: center;
  color: white;
  display: block;
  padding: 168px 0px;
}
#download-i img{
  width:730px;
}

#container {
  width: 984px;
  height: 100%;
  margin: 0 auto;
  display: table;
}

#container-right {
  position: relative;
  float: right;
  width: 250px;
  background: #ffd700;
  border: 1px solid #d3d3d3;
  overflow: hidden;
}
#container-right img{
  margin-left: 38px;
}

#container-left {
  position: relative;
  float: left;
  width: 690px;
  background: white;
  padding: 20px 20px 40px;
  border: 1px solid #d3d3d3;
}

.v-hd {
  height: 33px;
  padding: 0 10px 0 34px;
  border-bottom: 2px solid #ffd700;
  background: url(../img/l-pic.png) no-repeat;
  background-position: -229px -159px;
  background-size: 419px;
  clear: both;
}

.v-hd .tit {
  float: left;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  margin: 0;
}

.v-hd .tit:hover {
  color: #333333;
}

.tab {
  float: left;
  margin: 2px 0 0 20px;
  display: flex;
  line-height: 27px;
}
.tab-l {
  color: #666;
  font-size: 12px;
}
.tab-l:hover {
  text-decoration: underline;
}

.tab .line {
  margin: 0 10px;
  color: #ccc;
}

.cvrlist {
  margin: 20px 0 0 -42px;
  display: inline-block;
}
.cvrlist li {
  display: inline-block;
  float: left;
  width: 140px;
  height: 204px;
  padding: 0 0 30px 43px;
  line-height: 1.4;
  overflow: hidden;
}

.u-cover-1 {
  width: 140px;
  height: 140px;
}
.u-cover {
  position: relative;
  display: block;
}

.msk {
  background: url(../img/msk.png) no-repeat;
}

.cvrlist li .msk {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 27px;
  background-position: 0 -537px;
  color: #ccc;
  background-image: url(../img/msk.png);
  background-color: rgba(0, 0, 0, 0.1);
}

.icon-play {
  position: absolute;
  display: inline-block;
  right: 10px;
  bottom: 5px;
  width: 16px;
  height: 17px;
  background-position: 0 0;
  background: url(../img/icon.png) no-repeat;
}

.icon-headset {
  background: url(../img/icon.png) no-repeat;
  float: left;
  width: 14px;
  height: 11px;
  background-position: 0 -24px;
  margin: 9px 5px 9px 10px;
  display: inline-block;
}

.nb {
  float: left;
  margin: 7px 0 0 0;
  font-size: 12px;
}
.dec {
  margin: 8px 0 3px;
  font-size: 14px;
  width: 100%;
}

.dec {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
  color: #000;
}
.dec a:hover {
  text-decoration: underline !important;
  color: #000;
}

.n-clmnad {
  position: relative;
  margin: 0 0 35px;
  display: block;
}

.n-disk {
  position: relative;
  zoom: 1;
  height: 181px;
  margin: 20px 0 37px;
  padding: 2px;
  border: 1px solid #d3d3d3;
  overflow: hidden;
}
#album-item-1,
#album-item-2,
#album-item-3{
  position: absolute;
  top: 0;
  width: 650px;
  margin: 28px 0 0 0;
  left: -30px;
  transition: none 0s ease 0s;
}
#album-item-2{
  left:670px;
}
#album-item-3{
  left:-670px;
}

#album-item-1 li,
#album-item-2 li,
#album-item-3 li{
  float: left;
  display: inline;
  width: 100px;
  height: 100px;
  margin-left: 30px;
}

#album-roll {
  height: 180px;
  background: #f5f5f5;
}

.album-roll-item{

}


.album-roll-item img{
  width:100px;
  height:100px;
  margin-bottom: 3px;
  cursor: pointer;
}
.album-roll-item p{
  width: 90%;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  cursor: pointer;
}
.album-roll-item p:hover{
  text-decoration: underline;
}

.n-blist {
  height: 443px;
  width:inherit;
  margin-top: 20px;
  padding-left: 1px;
  background: url(../img/n-blist.png);
}

.blk {
  float: left;
  width: 230px;
}

.n-blist .top {
  height: 100px;
  padding: 20px 0 0 19px;
}

.cver {
  float: left;
  display: inline;
  width: 80px;
  height: 80px;
  position: relative;
}
.cver img {
  display: block;
  width: 100%;
  height: 100%;
}
.cver .msk{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.n-blist .tit h3 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.n-blist .tit h3:hover {
  color: #333;
  text-decoration: underline;
}

.btn-play-1,
.btn-add-1,
.btn-play-2,
.btn-add-3 {
  background: url(../img/l-pic.png) no-repeat 0 9999px;
}

.btn-add-2,
.lab {
  background: url(../img/icon-1.png) no-repeat 0 9999px;
}

.btn-play-1 {
  background-position: -267px -205px;
}

.btn-add-1 {
  background-position: -300px -205px;
}

.btn-play-2 {
  background-position: -267px -268px;
}
.btn-add-2 {
  background-position: 1px -698px;
}

.btn-add-3 {
  background-position: -297px -268px;
}

.n-blist .btn {
  margin-top: 10px;
}

.n-blist .btn a {
  display: block;
  float: left;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  text-indent: -9999px;
}

.n-blist ol {
  height: 319px;
  margin-left: 50px;
  line-height: 32px;
  list-style: none;
}
.n-blist ol li {
  height: 32px;
}

.no {
  float: left;
  position: relative;
  width: 35px;
  height: 32px;
  margin-left: -35px;
  text-align: center;
  color: #666;
  font-size: 16px;
}

.no-top {
  color: #c10d0c;
}

.nm {
  float: left;
  width: 170px;
  height: 32px;
  font-size: 12px;
  color: #000;
  vertical-align: center;
  overflow: hidden;
}

.nm:hover {
  text-decoration: underline;
  color: #000;
}

.oper {
  display: none;
  float: right;
  width: 82px;
  margin-top: -25px;
}

.f-thide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.z-hvr .oper {
  display: block;
  z-index: 9999;
}

.oper a {
  float: left;
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.roll-left{
  left:4px;
  position: absolute;
  top: 71px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  background:url(../img/l-pic.png) no-repeat;
  background-position: -260px -75px;
  z-index: 1000;
}

.roll-right{
  right:7px;
  position: absolute;
  display: inline-block;
  top: 71px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  background:url(../img/l-pic.png) no-repeat;
  background-position: -300px -75px;
  z-index: 1000;
}

.album-inner{
  width:620px;
  overflow: hidden;
  position: relative;
  height: inherit;
  margin-left: 31px;
}

