a {
	text-decoration: none;
	color: #666666;
}
a:hover{
    text-decoration: underline;
}
body,
h1,
h2,
h3,
h4,
img,
iframe,
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;
    width: auto;
    height: auto;
}
i{
    font-style: normal;
}

.f-right{
    float: right;
}
.f-left{
    float: left;
}
.btn:hover{
    background-color: #eeeeee;
}
.font-14{
    font-size: 14px;
}
.font-12{
    font-size: 12px;
}
.font-10{
    font-size: 10px;
}
.f-c-6{
    color: #666666;
}
.f-c-3{
    color: #333333;
}
.f-c-e{
    color: #eeeeee;
}
.f-c-d{
    color: #aaaaaa;
}
.f-c-gold{
    color: #ffd700;
}


.z-1{
    position: relative;
    z-index: 1;
}
.z-2{
    position: relative;
    z-index: 2;
}
.z-0{
    position: relative;
    z-index: 0;
}

.f-s-n{
    font-style: normal;
}
.f-w-n{
    font-weight: normal;
}
.f-w-b{
    font-weight: bold;
}
.btn{
    display: block;
    text-align: center;
    font-size: 12px;
    margin: 6px 0 0 10px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    padding: 2px;
    background-color: rgba(247,247,247,0.81);
    box-shadow: 0 0 1px #747474;
}