/*                                          全局控制*/
div {
    display: block;
}

* {
    margin: 0;
    padding: 0;
}
.u-icn, .u-title-1 .out .icon {
    background: url(https://s2.music.126.net/style/web2/img/icon.png?abb319d9b708bd11d53a6ff34743c388) no-repeat 0 9999px;
}
.u-icn-44, .u-icn-45, .u-icn-46, .u-icn-47 {
    width: 22px;
    height: 21px;
    background-position: -64px -164px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
i, em {
    font-style: normal;
}
a {
    text-decoration: none;
    color: #333;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li{
    list-style: none;
}
/*                                  */
.main{
    width: 982px;
    min-height: 700px;
    height: 900px;
    margin: 70px auto 0 auto;
    border: 1px solid #a8a8a8;
}
/*                                  侧边栏*/
.g-sd6 {
    position: absolute;
    float: left;
    width: 184px;
    z-index: 25;
}.n-msgtit {
     height: 30px;
     padding: 32px 0 14px 40px;
     font-size: 20px;
     font-weight: normal;
     line-height: 30px;
 }
.f-ff2 {
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
}
.n-msgtab {
    border-top: 1px solid #ddd;
}
.n-msgtab li.z-slt {
    position: relative;
    width: 185px;
}
.n-msgtab li {
    float: left;
    width: 184px;
    border-bottom: 1px solid #ddd;
}
.n-msgtab li a {
    display: block;
    width: 144px;
    height: 53px;
    padding-left: 40px;
    background: #f7f7f7;
    border-top: 1px solid #fff;
    line-height: 53px;
}
.n-msgtab li.z-slt a {
    background: #fff;
    border-right: 1px solid #fff;
}.n-msgtab li i {
     float: left;
     margin-top: 17px;
 }
.u-icn-45 {
    background-position: -64px -193px;
}
.u-icn-46 {
    background-position: -64px -245px;
}
.u-icn-47 {
    background-position: -58px -400px;
}
.u-icn, .u-icn2, .u-icn3 {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.u-bub {
    display: block;
    position: relative;
    zoom: 1;
    width: 22px;
    height: 22px;
    color: #fff;
    text-align: center;
    line-height: 23px;
    font-weight: bold;
}
.u-bub-1 b {
    background-image: url(https://s2.music.126.net/style/web2/img/ie6/bub2.png?8293aeaaa9db5b9381da54d535af7b8d);
}
.u-bub b {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background: url(https://s2.music.126.net/style/web2/img/ie6/bub.png?e0854534686a82e51c48e52151d1bbe1) no-repeat;
    float: right;
    z-index: 5;
}
.u-bub em{
    z-index: 999;
}
.textspan{
    float: left;
}
