div {
    display: block;
}
.u-icn, .u-icn2, .u-icn3 {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.u-icn, .u-title-1 .out .icon {
    background: url(https://s2.music.126.net/style/web2/img/icon.png?abb319d9b708bd11d53a6ff34743c388) no-repeat 0 9999px;
}
* {
    margin: 0;
    padding: 0;
}
.v-hd3 .mail, .v-hd3 .u-btn2, .v-hd3 .u-btn2 {
    float: right;
    font-weight: normal;
}
.u-btn, div.u-page a, div.u-page a.js-selected, div.u-page a.znxt.js-disabled, div.u-page a.zprv.js-disabled {
    background: url(https://s2.music.126.net/style/web2/img/button.png?14582f0c56aef81e465acdc186d665fa) no-repeat 0 9999px;
}
.n-msgnt-hvr .item, .n-msgnt-hvr .item * {
    cursor: pointer;
}
.s-fc4, a.s-fc4:hover {
    color: #999;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
i, em {
    font-style: normal;
}
a {
    text-decoration: none;
    color: #333;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li{
    list-style: none;
}
/*                                          通知页*/
.g-mn6 {
    float: right;
    width: 980px;
    height: 822px;
    margin-left: 185px;
}
.g-mn6c {

}

.g-wrap {
    float: right;
    padding: 40px;
    width: 715px;
    height: 600px;
}
.v-hd3 {
    height: 35px;
    border-bottom: 2px solid #d13030;
}
.v-hd3 .tit {
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
}
.item {
     padding: 16px 0;
     border-bottom: 1px dotted #ccc;
     width: 715px;
     height: 41px;
    font-size: small;
 }
.item p{

}
.n-msgnt .ava {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: -100px;
}
.n-msgnt .ava img {
    width: 40px;
    height: 40px;
}
.n-msgnt .cont {
    margin-left: 60px;
    line-height: 19px;
}
.n-msgnt .cont .time {
    float: right;
    font-family: Tahoma, Geneva, sans-serif;
}
.time{
    float: right;
}
.sep{
    float: left;
    margin-left: 5px;
}
.s-fc0{
    float: left;
    margin-left: 20px;
}
.s-fc3{
    margin: 5px 270px 0 20px;
    padding: 0;
    float: left;
    color: #6e6e6e;
}
.s-fc4, a.s-fc4:hover {
    color: #999;
}
.n-msgnt .cont .time i {
    position: relative;
    *top: 1px;
    margin-right: 0;
}
.n-msgnt .cont .u-icn {
    margin: -4px 8px 0 2px;
}
.u-icn-57 {
    width: 13px;
    height: 13px;
    background-position: -18px -682px;
}
.f-fw1 {
    font-weight: bold;
}.n-msgnt .cont .sep {
     margin-left: 5px;
 }
.n-msgnt .cont .sec2 {
    width: 100%;
    margin-top: 3px;
}
.n-msgnt .cont .sec2 p {
    width: 80%;
    word-break: break-word;
}