* {
    padding: 0;
    margin: 0;
}

body, textarea, select, input, button {
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.g-bd, .g-bd1, .g-bd2, .g-bd3, .g-bd4, .g-bd5, .g-bd6, .g-bd7 {
    width: 980px;
    min-height: 700px;
    _height: 700px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
}

.g-bd, .g-bd1, .g-bd2, .g-bd3, .g-bd4, .g-bd5, .g-bd6, .g-bd7 {
    width: 980px;
    min-height: 700px;
    _height: 700px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
}

.g-wrap {
    padding: 40px;
}

.f-pr {
    position: relative;
    zoom: 1;
}

.m-radio .rditype {
    margin-bottom: 20px;
}

.m-radio .rditop, .m-radio .new {
    margin-top: 10px;
}

.m-radio .rditype .boxes {
    overflow: hidden;
    max-height: 194px;
}

.m-radio .rditype .boxes.muti {
    height: 194px;
}

.m-radio .rditype .dotpage {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    height: 20px;
    text-align: center;
    line-height: 0;
}

.m-radio .rditype .turn, .m-radio .rditype .dot {
    background: url(../images/radio_slide.png) no-repeat;
}

.m-radio .rditype .turn {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 30px;
    margin-top: -15px;
    opacity: 0.25;
    filter: alpha(opacity=25);
    text-indent: -9999px;
    cursor: pointer;
}

.m-radio .rditype .turn-left {
    left: -26px;
    background-position: 0 -30px;
}

.m-radio .rditype .turn.z-dis {
    opacity: 0.08;
    filter: alpha(opacity=8);
}

.m-radio .rditype .turn-right {
    right: -26px;
    background-position: -30px -30px;
}

.m-radio .rditype ul {
    margin-left: -33px;
}

.m-radio .rditype .box.z-show {
    display: block;
}

.m-radio .rditype .box {
    display: none;
}

li, s {
    list-style: none;
}

.m-radio .rditype li {
    float: left;
    margin: 0 0 25px 33px;
}

.m-radio .rditype a {
    background-image: url(../images/radio_bg.png);
    background-repeat: no-repeat;
}

.m-radio .rditype a {
    display: block;
    width: 70px;
    height: 70px;
    background-position: 0 9999px;
    text-align: center;
    color: #888;
}

.m-radio .rditype .icon {
    width: 48px;
    height: 48px;
    margin: 2px auto 0;
    background-position: 0 0;
}

em, i {
    font-style: normal;
    text-align: left;
    font-size: inherit;
}

.m-radio .rditype a em {
    margin-top: -3px;
}

.f-cb:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.m-radio .rditype .dotpage {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    height: 20px;
    text-align: center;
    line-height: 0;
}

.m-radio .rditype .dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: 0 0;
    text-indent: -9999px;
    cursor: pointer;
}

.m-radio .rditype .dot.z-curr, .m-radio .rditype .dot:hover {
    background-position: -30px 0;
}

.m-radio .rditop, .m-radio .new {
    margin-top: 10px;
}

.f-fl {
    float: left;
}

.m-radio .rditop .blk {
    width: 426px;
}

.u-title {
    height: 40px;
    border-bottom: 2px solid #c20c0c;
}

.m-radio .toplist {
    height: 600px;
    border: 1px solid #e2e2e2;
    border-top: none;
}

.u-title h3 {
    float: left;
    font-size: 24px;
    font-weight: normal;
}

.s-fc3, a.s-fc3:hover {
    color: #666;
}

.u-title .more {
    float: right;
    margin-top: 14px;
}

.f-cb:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.f-ff2 {
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
}

.m-plylist .itm {
    float: left;
    width: 100%;
    background: #fff;
}

.m-radio .toplist .itm {
    width: 424px;
    height: 40px;
    padding: 10px 0;
    line-height: 40px;
}

.u-cover {
    position: relative;
    display: block;
}

.u-cover-tiny {
    width: 40px;
    height: 40px;
}

.m-radio .toplist .cvr {
    margin-left: 20px;
    _margin-left: 10px;
}

.m-radio .toplist .cnt {
    width: 254px;
    margin: 1px 0 0 10px;
    line-height: 20px;
}

.u-type {
    display: inline-block;
    position: relative;
    top: -1px;
    height: 16px;
    overflow: hidden;
    padding: 0 6px;
    border: 1px solid #999;
    line-height: 16px;
    *line-height: 18px;
    color: #999;
    vertical-align: middle;
    font-size: 12px;
}

.m-radio .toplist .tag {
    margin: 1px 0 0 10px;
    _margin-top: 9px;
}

.u-cover img {
    display: block;
    width: 100%;
    height: 100%;
}

.u-cover-tiny .ply {
    position: absolute;
    display: none;
    _display: block;
    width: 22px;
    height: 22px;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin: -11px 0 0 -11px;
    background-position: 0 -85px;
    _background-position: 0 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

.f-thide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.f-fw0 {
    font-weight: normal;
}

.s-fc1 {
    color: #333;
}

.s-fc4, a.s-fc4:hover {
    color: #999;
}

.m-radio .rditop .blk {
    width: 426px;
}

.m-plylist .bg {
    background: #f7f7f7;
}

.m-radio .toplist .itm {
    width: 424px;
    height: 40px;
    padding: 10px 0;
    line-height: 40px;
}

.f-fr {
    float: right;
}

.m-radio .toplist .rank {
    width: 47px;
    margin: 6px 0 0 0;
    text-align: center;
    line-height: normal;
}

.f-fs1 {
    font-size: 14px;
}

.m-radio .toplist .rank em {
    display: block;
    width: 100%;
    text-align: center;
}

.m-radio .toplist .rank .red {
    color: #da4545;
}

.u-rnk {
    line-height: normal;
    font-size: 10px;
}

.f-ff0 {
    font-family: Arial, Helvetica, sans-serif;
}
i {
    font-style: italic;
}
.f-fl {
    float: left;
}

.u-icn3, .u-hot, .u-hot i {
    background: url(../images/table.png) no-repeat 0 9999px;
}

.u-hot {
    display: block;
    position: relative;
    width: 100px;
    background-position: 0 -240px;
    line-height: normal;
}

.u-hot, .u-hot i {
    display: block;
    height: 8px;
}

.m-radio .toplist .hot {
    margin-top: 16px;
}
em, i {
    font-style: normal;
    text-align: left;
    font-size: inherit;
}

.u-hot i {
    overflow: hidden;
    padding: 0 4px;
    background-position: right -318px;
}
.u-hot, .u-hot i {
    display: block;
    height: 8px;
}.u-hot i {
     overflow: hidden;
     padding: 0 4px;
     background-position: right -318px;
 }
.u-hot i {
    overflow: hidden;
    padding: 0 4px;
    background-position: right -318px;
}

.u-hot i i {
    margin-left: -4px;
    padding: 0 0 0 4px;
    background-position: 0 -304px;
}.m-radio .toplist-r .cnt {
     width: 208px;
 }