* {
    padding: 0;
    margin: 0;
}

body {
    *zoom: 1;
    min-width: 982px;
    background: #f5f5f5;
}

body, textarea, select, input, button {
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
}

input {
    outline: none;
    border: 0;
}

.g-bd, .g-bd1, .g-bd2, .g-bd3, .g-bd4, .g-bd5, .g-bd6, .g-bd7 {
    width: 980px;
    min-height: 700px;
    _height: 700px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d3d3d3;
}

.g-bd, .g-bd1, .g-bd2, .g-bd3, .g-bd4, .g-bd5, .g-bd6, .g-bd7 {
    width: 980px;
    min-height: 700px;
    _height: 700px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d3d3d3;
}

.g-wrap {
    padding: 40px;
}

.n-srch .pgsrch, .n-srch .pgsrch .btn {
    background: url("../images/sprite.png") no-repeat 0 9999px;
}

.n-srch .pgsrch {
    width: 420px;
    height: 40px;
    margin: 0 auto;
    background-position: 0 0;
    z-index: 10;
}

.f-pr {
    position: relative;
    zoom: 1;
}

.n-srch .pgsrch .srch {
    float: left;
    width: 320px;
    height: 17px;
    margin: 12px 0 0 20px;
    padding: 0;
    background: #fff;
    border: none;
}

.n-srch .pgsrch .btn {
    float: right;
    width: 50px;
    height: 40px;
    text-indent: -9999px;
}

[hidefocus] {
    outline: none;
}

a, a *, .f-hand, .f-hand * {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #333;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.n-srch .snote {
    margin: 28px 0 17px;
}

.s-fc4, a.s-fc4:hover {
    color: #999;
}

.s-fc6, a.s-fc6:hover {
    color: #c20c0c;
}

em, i {
    font-style: normal;
    text-align: left;
    font-size: inherit;
}

.s-fc4, a.s-fc4:hover {
    color: #999;
}

.m-tabs, .m-tabs a, .m-tabs em, .m-tabs1 a, .m-tabs1 em {
    background: url("../images/tab.png") no-repeat 0 9999px;
}

.m-tabs {
    height: 39px;
    border: 1px solid #ccc;
    border-width: 0 1px;
    background-position: 0 0;
    background-repeat: repeat-x;
}

li, s {
    list-style: none;
}

.m-tabs li, .m-tabs a, .m-tabs em {
    float: left;
    height: 39px;
    font-size: 14px;
}

.m-tabs a.z-slt {
    background-position: left -90px;
}

.m-tabs li {
    position: relative;
    left: -1px;
}

.m-tabs a {
    padding-left: 2px;
}

.m-tabs li, .m-tabs a, .m-tabs em {
    float: left;
    height: 39px;
    font-size: 14px;
}

.m-tabs a.z-slt em {
    background-position: right -90px;
}

.m-tabs em {
    height: 37px;
    width: 134px;
    padding: 2px 2px 0 0;
    line-height: 37px;
    cursor: pointer;
    text-align: center;
}

.m-tabs-srch em {
    width: 145px;
}

em {
    color: #333;
}

