* {
    padding: 0;
    margin: 0;
}

.n-srchrst {
    margin-top: 20px;
}

.m-mvlist {
    margin-left: -26px;
}

li, s {
    list-style: none;
}

.m-mvlist li {
    float: left;
    width: 159px;
    padding: 0 0 40px 26px;
    line-height: 1.5;
    overflow: hidden;
}

.f-pr {
    position: relative;
    zoom: 1;
}

.m-mvlist .cover {
    width: 159px;
    height: 90px;
}

.f-thide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.m-mvlist .title {
    width: 100%;
    height: auto;
    margin: 7px 0 1px;
    border: none;
    font-size: 14px;
    font-weight: normal;
}

.f-thide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.m-mvlist .name {
    width: 100%;
    font-weight: normal;
}

.m-mvlist li img {
    width: 100%;
    height: 90px;
}

.u-msk {
    background: url(../images/mask.png) no-repeat 0 9999px;
}

.u-msk {
    display: inline-block;
}

.u-msk-1 {
    width: 90px;
    height: 20px;
    background-position: 0 0;
}

.m-mvlist .tr {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 5px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    box-sizing: border-box;
    text-align: right;
    text-shadow: -2px 1px rgba(0, 0, 0, .4);
}

.u-icn2 {
    background: url(../images/icon2.png) no-repeat 0 9999px;
}

.u-icn, .u-icn2, .u-icn3 {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.u-icn2-mv {
    width: 15px;
    height: 10px;
    background-position: -60px -310px;
}

.m-mvlist .u-icn2-mv {
    margin: -2px 2px 0 0;
}

.u-msk {
    background: url(../images/mask.png) no-repeat 0 9999px;
}

.u-msk {
    display: inline-block;
}

.u-msk-2 {
    width: 159px;
    height: 25px;
    background-position: 0 -25px;
}

.m-mvlist .bl {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 5px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    text-shadow: -2px 1px rgba(0, 0, 0, .4);
}

.m-mvlist .cover .link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.m-mvlist .cover:after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 8;
}

.s-fc0, a.s-fc0:hover {
    color: #000;
}

.s-fc3, a.s-fc3:hover {
    color: #666;
}

.s-fc7, a.s-fc7:hover {
    color: #0c73c2;
}