* {
    padding: 0;
    margin: 0;
}

body, textarea, select, input, button {
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
}

.n-srchrst {
    margin-top: 20px;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

.m-table {
    width: 100%;
    border: 1px solid #d9d9d9;
}

.m-table-2 {
    border-collapse: separate;
    border-spacing: 0;
    border: 0;
}

.m-table-2 {
    border-collapse: separate;
    border-spacing: 0;
    border: 0;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.m-table th, .m-table th .wp, .m-table td, .m-table .ply, .m-table .mv, .m-table .icn, .m-info .edit {
    background: url(../images/table.png) no-repeat 0 9999px;
}

.m-table td {
    padding: 6px 10px;
    line-height: 18px;
    text-align: left;
}

.m-table-2 tr td {
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #fff;
    border-width: 1px 0;
}

.m-table-2-cover tr td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.m-table .w0 {
    width: 25px;
}

.m-table-2 tr td.first {
    border-left: 1px solid #fff;
}

.m-table .w7 {
    width: 50px;
}

.m-table .w11 {
    width: 35px;
    padding-right: 0;
    padding-left: 25px;
}

.m-table .w4 {
    width: 20%;
}

.m-table .w6 {
    width: 78px;
}

.m-table-2 tr td.last {
    border-right: 1px solid #fff;
}

.m-table .hd {
    height: 18px;
}

.m-table-2 .hd {
    padding-left: 5px;
}

.m-table .ply {
    width: 17px;
    height: 17px;
    cursor: pointer;
    background-position: 0 -103px;
}

.m-table .hd .ply {
    float: right;
}

.u-cover-3 {
    width: 50px;
    height: 50px;
}

.u-cover {
    position: relative;
    display: block;
}

.u-cover img {
    display: block;
    width: 100%;
    height: 100%;
}

.u-cover-3 .msk {
    background-position: -160px 0;
}

.u-cover .msk {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.m-table-2 .opt {
    float: right;
}

.m-table .tt {
    float: left;
    width: 100%;
}

.m-table-2 .tt {
    margin-right: -100px;
}

.f-cb:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.u-icn, .u-title-1 .out .icon {
    background: url(../images/icon.png) no-repeat 0 9999px;
}

.u-icn, .u-icn2, .u-icn3 {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.u-icn-81 {
    width: 13px;
    height: 13px;
    background-position: 0 -700px;
}

.m-table .u-icn-81 {
    float: left;
    margin-top: 2px;
}

.m-table .mv, .m-table .icn {
    float: left;
    width: 18px;
    height: 16px;
    margin: 2px 0 0 4px;
    overflow: hidden;
    text-indent: -999px;
    cursor: pointer;
}

.m-table .icn-fav {
    background-position: 0 -174px;
}

.m-table .icn-share {
    background-position: 0 -195px;
}