@charset "utf-8";
/* CSS Document */

#mainBody {
    width: 980px;
    height: 2000px;
    margin: auto;
}

#mB-left {
    width: 620px;
    height: 1960px;
    padding: 20px 30px;
    background-color: white;
    border: 1px #C4C4C4 solid;
}

#mB-right {
    border: 1px #C4C4C4 solid;
}

#left-top {
    width: 620px;
    height: 42px;
    border-bottom: #ffd700 2px solid;
}

#left-top h3 {
    font-size: 24px;
    font-weight: normal;
}

#left-top span {
    line-height: 15px;
}

#left-body ul li {
    padding: 10px 0;

}

.userShare {
    margin-left: 10px;
    margin-bottom: 15px;
    width: 565px;
    padding-top: 4px;
}

.type a {
    color: blue;
}

.time {
    margin: 7px 0 0;
}

.text {
    margin: 10px 0 0;
}


.v-title {
    font-size: 12px;
    line-height: 15px;
    width: 338px;
    height: 120px;
    padding: 10px;
}

.v-foot {
    width: 318px;
    height: 10px;
    padding: 30px 10px 10px;
}

.v-pic {
    position: relative;
    top: -190px;
}

.play-before {
    width: 556px;
    height: 190px;
    margin: 5px 0 0;
}

#yellow-mplay {
    position: relative;
    z-index: 2;
    top: -300px;
    left: 150px;
}

.video {
    width: 450px;
    height: 270px;
    border: 1px #dddddd solid;
}

.line {
    margin: 0 5px;
}

.s-foot {
    width: 100%;
    height: 20px;
    padding-bottom: 3px;
    border-bottom: 1px solid #dddddd;
}

.s-music {
    padding: 10px;
    margin: 4px 0 5px;
    background-color: #eeeeee;
}

.img-t {
    position: relative;
    left: -35px;
    top: -10px;
}

.user {
    width: 296px;
    height: 193px;
    background-color: #eeeeee;
}

#face {
    display: block;
    position: relative;
    top: 38px;
    left: 30px;
    width: 70px;
    height: 70px;
    border: 1px #C4C4C4 solid;
}

.userName {
    margin-left: 120px;
    font-weight: bolder;
    position: relative;
    top: -20px;
    color: black;
}

.u-fans {
    position: relative;
    top: 34px;
    left: 13px;
    overflow: hidden;
}

.u-fans li {
    width: 67px;
    height: 45px;
    margin: 0 2px 0 -2px;
    border-left: 1px solid #c2c2c2;
}

.u-fans li a {
    display: block;
    padding: 0 20px;
    color: #666;
}

.u-fans li a i {
    font-size: 12px;
    display: block;
    padding: 0 0 0 2px;
}

.u-fans li a em {
    display: block;
    padding: 0 0 9px;
    font-size: 20px;
    line-height: 20px;
    font-style: normal;
    text-align: center;
}

.otherUser {
    width: 236px;
    height: 620px;
    padding: 20px 30px;
}

.starUser {
    margin: 5px 0;
    padding: 0 0 5px;
    border-bottom: 1px solid #dcdcdc;
}

.otherUser-div {
    width: 236px;
    height: 55px;
    padding: 10px 0;
}

.otherUsername {
    width: 180px;
    height: 30px;
    padding-left: 10px;
}

.awh {
    width: 50px;
    height: 18px;
    position: relative;
    top: -35px;
}

.xlwb {
    width: 200px;
    height: 18px;
    position: relative;
    z-index: 1;
}

.weibo {
    position: relative;
    left: 75px;
    top: 8px;
    z-index: 2;
}

.backTop {
    position: fixed;
    top: 500px;
    left: 1300px;
    width: 50px;
    height: 40px;
}

.popWindow {
    width: 530px;
    z-index: 10;
    position: fixed;
    top: 200px;
    left: 500px;
    box-shadow: #9b9b9b 0 0 20px;
    background-color: white;
    padding-bottom: 30px;

}

.popWindow-top {
    position: relative;
    z-index: 10;
    border-bottom: 1px solid #191919;
    border-radius: 4px 4px 0 0;
    background: #2d2d2d;
    padding: 10px 20px;
}

.u-txt {
    height: 106px;
    border: none;
    width: 430px;
    margin-right: -20px;
    padding: 5px 6px 6px;
    border-radius: 2px;
    line-height: 19px;
}

.share-text {
    width: 450px;
    margin: 20px 40px 10px;
    border: #9b9b9b 1px solid;
}

.f-thide {
    margin: 0 10px;
    border-top: 1px #9b9b9b solid;
    width: 426px;
    height: 46px;
    line-height: 40px;
}

.f-tde {
    width: 450px;
    margin: 0 40px;
}

.btns {
    padding-left: 40px;
    padding-top: 25px;
}

.btn-share {
    width: 80px;
    background-color: rgba(141, 188, 247, 0.81);
}

.btn-w {
    background-color: white;
}

.XXX {
    position: relative;
    top: -20px;
}

.xiaoshi {
    display: none;
}

.zhuanFa {
    width: 520px;
    height: 400px;
    background-color: #eee;
    border: 1px #dddddd solid;
    margin: auto;
}

.userShareFoward {
    margin-left: 10px;
    margin-bottom: 15px;
    width: 450px;
    padding-top: 4px;
}

.pages {
    text-align: center;
    display: block;
    padding: 6px;
    background-color: #ffd700;
    border: 1px #ddd solid;
    color: black;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 1px #747474;
}
.pages_btn{
    width: 20px;
    height: 20px;
    text-align: center;
    display: block;
    padding: 6px;
    background-color: #ffd700;
    border: 1px #ddd solid;
    color: black;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 1px #747474;
}
.pages_act{
    width: 20px;
    height: 20px;
    text-align: center;
    display: block;
    padding: 6px;
    background-color: #dddddd;
    border: 1px #ddd solid;
    color: black;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 1px #747474;
}


.pages_upAndDown{
    width: 60px;
    height: 20px;
}
.pages:hover{
    text-decoration: none;
}
.fileinput-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.fileinput-button input{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
}
.songsGet{
    margin: 0 10px;
    border-top: 1px #9b9b9b solid;
    width: 426px;
    height: 180px;
    overflow: auto;
    line-height: 20px;
}
.songsGet ul li{
    display: block;
    padding: 5px 10px 5px 20px;
    background-color: #dddddd;
}
.songsGet ul li:hover{
    background-color: #9b9b9b;
}
.margin-r-100{
    margin-right: 100px;
    width: 180px;
    height: 30px;
    display: block;
    float: left;
}
.commentDiv{
    padding: 15px 20px;
    border-top: 1px dotted #ccc;

}