.mainBody{
    width: 982px;
    height: 935px;
    margin: auto;
}
.m-left{
    width: 670px;
    height: 895px;
    padding-left: 40px;
    padding-top: 40px;
    border: 1px #C4C4C4 solid;
}
.m-right{
    width: 198px;
    height: 413px;
    padding: 20px 40px 40px 30px;
    border: 1px #C4C4C4 solid;
}
.mask{
    margin-top: 40px;
    display: block;
    width: 640px;
    height: 300px;
}
